

  <table>
    <thead>
      <tr>
        <th>Browse for file</th>
        <th>File Name</th>
        <th>Submit</th>
      </tr>
    </thead>
  <tbody>
    <tr class="filesearch">
      <td><%= form_tag importaciones_products_path, multipart: true do %></td>
      <td><%= file_field_tag :file %></td>
      <!-- the above sends the :file into the params... -->
      <td><%= submit_tag "Import CSV" %></td>
    </tr>
    <% end %>
  </tbody>
  </table>

  <div>
  <p>

<table>
  <tbody>
    <tr>
      <th class="flashmessage"><%= flash[:notice] %></th>
    </tr>
  </tbody>
</table>

  </p>
</div>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr class="items">
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %></td>
    </tr>
    <% end %>
  </tbody>
</table>




