

  <table align = "center">
    <thead>
      <tr>
        <!-- <th>Browse for file</th> -->
        <th>File Name</th>
        <th>Submit</th>
        <th>Flash Message Here</th>
      </tr>i
    </thead>
  <tbody>
    <tr class="filesearch">
      <td><%= form_tag importaciones_products_path, multipart: true do %>

        <%#= file_field_tag :file, :class=>"button"%>
        <input type="file" name="file" id="file" class="btn btn-small btn-primary btn-inverse"/>
      </td>
      <!-- the above sends the :file into the params... -->
      <td><%= submit_tag "Import CSV" %></td>
      <td><div class="flashmessage"><%= flash[:notice] %></div></td>
    </tr>
    <%end %>
  </tbody>
  </table>

  <div>
  <p>

<!-- <table align="center">
  <tbody>
    <tr>
      <th class="flashmessage"><%= flash[:notice] %></th>
    </tr>
  </tbody>
</table> -->

  </p>
</div>

<table align = "center">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr class="items">
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %></td>
    </tr>
    <% end %>
  </tbody>
</table>




